* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
}

/* Inicio Definição de variáveis */
    :root {
        --marrom_escuro: #572E0E;
        --marrom: #91663A; 
        --amarelo_queimado: #BA8E4F;
        --verde_claro: #46B954;
        --verde: #005301;
        --verde_escuro: #053105;
        --verde_dark: #042504;
        --verde_pantano: #162716;
        --preto_transparente: #00000030;
        --branco: #ffffff
    }
/* Fim da definição de variáveis*/

/* Inicio do CSS do header */

header {
    background-color: var(--preto_transparente);
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 0px 20px;
    height: 132px;
    width: 100%;
    top: 0%;
}

.topoHeader {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100px;
    padding-left: 10px;
    padding-top: 10px;

}

.logo_header {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: left;
    width: fit-content;
}

.logo_style {
    color: var(--branco);
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 54px;
}

.header_nav  {
    display: flex;
    justify-content: center;
    align-items: center;

}

header nav ul {
    display: flex;
    gap: 50px;
    list-style: none;
}

.ancoras_padrao {
    color: var(--branco);
    text-transform: uppercase;
    text-decoration: none;
    font-family:'Raleway';
    font-weight: 600;
    font-size: 20px;
}

.buscar {
    display: flex;
    align-items: center;
    justify-content: right;
    height: 100%;
}

.divisor {
    border: none;
    width: 100%;
    height: 3px;
    background-color: var(--branco);
    margin-top: 10px;
}

.h1 {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 96px;
}

.h2 {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 54px;
}

.h3 {
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 36px;
}

p {
    font-family: 'Open Sans';
}

/* Fim do CSS do Header */




body {
    font-family: 'Raleway', sans-serif;
    overflow-y: auto;
    background-image: url('./imagens/background.png');
    width: 100%;
    background-size: cover;
    background-position: center;
}

.login {

}


form {
    background-color: #013202;
    width: 530px;
    height: 475px; /* Increased height */
    padding: 20px;
    margin: 200px auto; /* Increased margin */
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

form div {
    position: relative;
    width: 100%;
}

form label img {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}


.circulo {
    width: 150px; 
    height: 150px;
    background-color:  #BA8E4F;
    border-radius: 50%; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 20px auto; 
    position: relative; 
}  

.circulo-img {
    width: 150px; 
    object-fit: cover;
    border-radius: 50%;
}


form input[type="text"],
form input[type="password"] {
    width: 100%;
    padding: 10px 10px 10px 40px;
    border: none;
    margin-left: 10px; 
    border-radius: 10px;
    font-size: 16px;
    background-color: rgba(192, 170, 95, 0.8); 
    color: #635528; 
}

form input[type="text"]:focus,
form input[type="password"]:focus {
    background-color: rgba(192, 170, 95, 0.8); 
    outline: none; 
}

form input[type="text"]::placeholder,
form input[type="password"]::placeholder {
    color: #635528;
    opacity: 0.8; 
}

form input[type="checkbox"] {
    margin-right: 10px;
}

form button {
    background-color: #013202;
    width: 350px;
    color: var(--branco);
    padding: 15px 50px; /* Adjusted padding */
    font-size: 16px;
    border: none;
    border-radius: 0 0 50px 50px; /* Adjusted border radius */
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;  
    opacity: 0.8;
    margin-top: 20px; /* Adjusted margin */
}

form button:hover {
    background-color: var(--verde_claro);
}

form a {
    color: var(--branco);
    text-decoration: none;
    font-size: 14px;
}

form a:hover {
    text-decoration: underline;
}

form input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 2px solid var(--branco);
    border-radius: 4px;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
    position: relative;
}

form .icon-wrapper {
    width: 50px;
    height: 50px;
    background-color: #013202;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-right: 10px;
}


form .icon-wrapper img {
    width: 30px;
    height: 30px;
}

form input[type="checkbox"]:checked::after {
    content: '✓';
    color: var(--branco);
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form .input-group {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

form .icon-wrapper {
    width: 8%;
    height: 100%;
    background-color: #BA8E4F;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    position: absolute;
    left: 0%;
}

form .input-field {
    padding-left: 40px;
    width: 20%;
    height: 50px;
    background-color: #013202;
    color: #C0AA5F;
    border: none;
    border-radius: 0;
    font-size: 6px;
}

form .icon-wrapper img {
    width: 30px;
    height: 30px;
}

form .checkbox-wrapper,
form .forgot-password-wrapper {
    display: inline-block;
    margin-top: 2px;
}

form .checkbox-wrapper label,
form .forgot-password-wrapper a {
    font-size: 14px;
    color: var(--branco);
}

form .forgot-password-wrapper {
    margin-left: 15px;
}

form .account-actions {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-top: 10px;
}

form .forgot-password-wrapper {
    margin-right: 10px;
}

form .forgot-password-wrapper a {
    text-decoration: none;
    font-size: 14px;
    color: var(--branco);
}

form .forgot-password-wrapper a:hover {
    text-decoration: underline;
}

form .create-account-wrapper {
    font-size: 14px;
    color: var(--branco);
}

form .create-account-wrapper a {
    text-decoration: none;
}

form .create-account-wrapper a:hover {
    text-decoration: underline;
}

.form-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 140px;
}

.checkbox-wrapper,
.forgot-password-wrapper {
    margin: 0;
    display: inline-block;
}

.buscar {
    position: relative;
    width: 100%;
    max-width: 500px;
}


.buscar img {
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: relative;
    transition: transform 0.3s ease;
    z-index: 2; 
    margin-left: 10px; 
}


.search-box {
    display: none;
    position: relative;
    background-color: var(--branco);
    border: none; 
    border-radius: 25px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
}


.buscar.lupa-ativa img {
    transform: translateX(-20px); 
}

.buscar.lupa-ativa .search-box {
    display: block;
    margin-left: 10px; 
}

#searchInput {
    width: 100%;
    padding: 10px;
    padding-left: 50px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    outline: none;
    
    -webkit-appearance: none; 
    -moz-appearance: none;    
    appearance: none;
}

#suggestions {
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 25px;
    border-top: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: calc(100% + 5px); 
    left: 0;
    width: 100%; 
    z-index: 1;
    background-color: var(--branco); 
    overflow-y: auto; 
    max-height: 250px; 
    overflow: hidden;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}


#suggestions li {
    padding: 10px;
    cursor: pointer;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}

#suggestions li:hover {
    background-color: var(--verde_claro);
    color: var(--branco);
}


#searchInput {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    outline: none;
}

