* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

/* Inicio Definição de variáveis */
    :root {
        --marrom_escuro: #572E0E;
        --marrom: #91663A; 
        --amarelo_queimado: #BA8E4F;
        --verde_claro: #46B954;
        --verde: #005301;
        --verde_escuro: #053105;
        --verde_dark: #042504;
        --verde_pantano: #162716;
        --preto_transparente: #00000030;
        --branco: #ffffff
    }
/* Fim da definição de variáveis*/

/* Inicio do CSS do header */

header {
    background-color: var(--preto_transparente);
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 0px 20px;
    height: 132px;
    width: 100%;
    top: 0%;

}

.topoHeader {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100px;
    padding-left: 10px;
    padding-top: 10px;

}

.logo_header {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: left;
}

.logo_style {
    color: var(--branco);
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 54px;
}

.header_nav  {
    display: flex;
    justify-content: center;
    align-items: center;

}

header nav ul {
    display: flex;
    gap: 50px;
    list-style: none;
}

.ancoras_padrao {
    color: var(--branco);
    text-transform: uppercase;
    text-decoration: none;
    font-family:'Raleway';
    font-weight: 600;
    font-size: 20px;
}

.buscar {
    display: flex;
    align-items: center;
    justify-content: right;
    height: 100%;
}

.divisor {
    border: none;
    width: 100%;
    height: 3px;
    background-color: var(--branco);
    margin-top: 10px;
}

.quiz{
    background: url(./imagens/imagem-de-fundo.png);
    background-size: cover;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.quiz h1{
    color: var(--branco);
    font-family: 'Raleway';
    font-size: 80px;
}

.figura img {
    width: 551px;
    height: 541px;
    display: inline-block;
    
}

.pontuacao{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.pontuacao h2{
    font-family: 'Raleway';
    font-size: 36px;
    font-weight: 600;
    
}

.pontuacao p{
    font-family: 'Raleway';
    font-size: 20px;
    font-weight: 600;
}

.pontuacao .caixa-de-pontuacao{
    width: 156px;
    height: 144px;
    border-radius: 25px;
    background-color: var(--verde_claro);
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.caixa-de-pontuacao h3{
    width: 133px;
    height: 126px;
    text-align: center;
    color: var(--branco);
    font-weight: bold;
    font-family: 'Raleway';
    text-align: center;
    font-size: 96px;

}

.jogar-novamente{
    width: 284px;
    height: 56px;
    border-radius: 10px;
    background-color: var(--verde_escuro);
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.jogar-novamente p{
    color: var(--branco);
    font-family: 'Raleway';
    text-align: center;  
}
