* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

/* Inicio Definição de variáveis */
    :root {
        --marrom_escuro: #572E0E;
        --marrom: #91663A; 
        --amarelo_queimado: #BA8E4F;
        --verde_claro: #46B954;
        --verde: #005301;
        --verde_escuro: #053105;
        --verde_dark: #042504;
        --verde_pantano: #162716;
        --preto_transparente: #00000030;
        --branco: #ffffff
    }
/* Fim da definição de variáveis*/

/* Inicio do CSS do header */

header {
    background-color: var(--preto_transparente);
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 0px 20px;
    height: 132px;
    width: 100%;
    top: 0%;

}

.topoHeader {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100px;
    padding-left: 10px;
    padding-top: 10px;

}

.logo_header {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: left;
    width: fit-content;
}

.logo_style {
    color: var(--branco);
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 54px;
}

.header_nav  {
    display: flex;
    justify-content: center;
    align-items: center;

}

header nav ul {
    display: flex;
    gap: 50px;
    list-style: none;
}

.ancoras_padrao {
    color: var(--branco);
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 20px;
}

.buscar {
    display: flex;
    align-items: center;
    justify-content: right;
    height: 100%;
}

.divisor {
    border: none;
    width: 100%;
    height: 3px;
    background-color: var(--branco);
    margin-top: 10px;
}

/* Fim do CSS do Header */
/* */
/* Inicio do CSS do Rodapé */

.rodape {
    display: grid;
    align-items: center;
    background-color: var(--verde_pantano);
    grid-template-columns: 1fr 1fr 1fr;

    width: 100%;
    height: 175px;
}

.logo_rodape {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rodape div {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 65%;
    border-left: solid 2px white;
}

.rodape ul {
    list-style: none;
}

.contatos a {
    color: white;

    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 20px;
}

.rodape div a {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.rodape img {
    margin-right: 10px;
}

/* Fim do CSS do rodapé*/


main {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../imagens/paginaJogos/pagJogos2_fundo.png);
    background-size: cover;
    height: 100vh;
}

.sair {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-top: 10%;
    width: 80%;
}

p{
    font-family:'Raleway';
    font-size: 18px;
    text-align: center;
    color: var(--branco);
    
    margin-top: 29px;
}

.pergunta h2{

    font-family:'Raleway';
    font-size: 36px;
    text-align: center;
    color: var(--branco);

    display: flex;
    align-items: center;
    justify-content: center;

}


.pergunta{
    height: 347px;
    width: 970px;
    border-radius: 25px;
    background-color: var(--verde_escuro);   

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


} 

.seta_esquerda{

}

.opcoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 165px;
    margin-top: 60px;
    width: fit-content;
}

.opl {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-right: 54px;
    margin-left: 50px;
}

.opr {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-left: 54px;
    margin-right: 50px;
}

.qts1 button{
    font-family:'Raleway';
    font-size: 27px;
    font-weight: 600;
    text-align: center;
    color: var(--branco);

    /*display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;*/

    height: 62px;
    width: 429px;
    border-radius: 50px;
    background-color: var(--verde_escuro);
    
}

.qts2 button{
    font-family:'Raleway';
    font-size: 27px;
    font-weight: 600;
    text-align: center;

    height: 62px;
    width: 429px;
    border-radius: 50px;
    background-color: var(--verde_claro);
}

.qts3 button{
    font-family:'Raleway';
    font-size: 27px;
    font-weight: 600;
    text-align: center;

    height: 62px;
    width: 429px;
    border-radius: 50px;
    background-color: #CF1510;
}


.qts4 button{
    font-family:'Raleway';
    font-size: 27px;
    font-weight: 600;
    text-align: center;
    color: var(--branco);

    height: 62px;
    width: 429px;
    border-radius: 50px;
    background-color: var(--verde_escuro);
}

/*.barra_progresso{
    width: 600px;
    height: 25px;
    background-color: var(--verde_claro);
    border-radius: 10px;
    color: var(--branco);
}*/

.barra_progresso{
    display: flex;
    align-items: center;
    width: 600px;
    height: 25px;
    background: var(--verde_claro);
    margin-top: 50px;
    margin-bottom: 40px;
    padding: 4px;

    border-radius: 999px;
}

.barra_progresso div{
    width: 10%;
    height: 21px;

    background: var(--branco);
    border-radius: 999px;
}
