* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

/* Inicio Definição de variáveis */
    :root {
        --marrom_escuro: #572E0E;
        --marrom: #91663A; 
        --amarelo_queimado: #BA8E4F;
        --verde_claro: #46B954;
        --verde: #005301;
        --verde_escuro: #053105;
        --verde_dark: #042504;
        --verde_pantano: #162716;
        --preto_transparente: #00000030;
        --branco: #ffffff
    }
/* Fim da definição de variáveis*/

/* Inicio do CSS do header */

header {
    background-color: var(--preto_transparente);
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 0px 20px;
    height: 132px;
    width: 100%;
    top: 0%;

}

.topoHeader {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100px;
    padding-left: 10px;
    padding-top: 10px;

}

.logo_header {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: left;
    width: fit-content;
}

.logo_style {
    color: var(--branco);
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 54px;
}

.header_nav  {
    display: flex;
    justify-content: center;
    align-items: center;

}

header nav ul {
    display: flex;
    gap: 50px;
    list-style: none;
}

.ancoras_padrao {
    color: var(--branco);
    text-transform: uppercase;
    text-decoration: none;
    font-family:'Raleway';
    font-weight: 600;
    font-size: 20px;
}

.buscar {
    display: flex;
    align-items: center;
    justify-content: right;
    height: 100%;
}

.divisor {
    border: none;
    width: 100%;
    height: 3px;
    background-color: var(--branco);
    margin-top: 10px;
}

.quiz-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url(./imagens/imagem-de-fundo.png);
    background-size: cover;
    height: 400px;
}

.quiz-header img {

    size-adjust: cover;
}

.quiz-header h1{
    position: absolute;
    color: var(--branco);
    font-family: 'Raleway';
    font-size: 80px;
    padding-top: 50px;
}


.figura{
    display: block;
}

.figura img {
    width: 551px;
    
}

.quiz{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}

main {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.ranking-container {
    width: 90%;
    max-width: 800px;
    margin: auto;
}

.ranking-header,
.ranking-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.header-box,
.ranking-box {
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    padding: 15px 10px;
}

.header-box {
    background-color: #004d00;
    color: #fff;
    flex: 1;
    margin: 0 5px;
}

.ranking-box {
    flex: 1;
    margin: 0 5px;
}

.ranking-box.posicao {
    background-color: #004d00;
    color: #fff;
}

.ranking-box.user {
    background-color: #6ecc64;
    color: #004d00;
}

.ranking-box.pontos {
    background-color: #004d00;
    color: #fff;
}

.ranking-header .header-box:first-child,
.ranking-row .ranking-box:first-child {
    flex: 0.5; /* Menor largura para POS. */
}

.ranking-header .header-box:nth-child(2),
.ranking-row .ranking-box:nth-child(2) {
    flex: 2; /* Maior largura para USER */
}

.ranking-header .header-box:last-child,
.ranking-row .ranking-box:last-child {
    flex: 0.7; /* Largura intermediária para PONTOS */
}
