* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-family: "Raleway", sans-serif;
}

/* Inicio Definição de variáveis */
    :root {
        --marrom_escuro: #572E0E;
        --marrom: #91663A; 
        --amarelo_queimado: #BA8E4F;
        --verde_claro: #46B954;
        --verde: #005301;
        --verde_escuro: #053105;
        --verde_dark: #042504;
        --verde_pantano: #162716;
        --preto_transparente: #00000030;
        --branco: #ffffff
    }
/* Fim da definição de variáveis*/

/* Inicio do CSS do header */

header {
    background-color: var(--preto_transparente);
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 0px 20px;
    height: 132px;
    width: 100%;
    top: 0%;

}

.topoHeader {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100px;
    padding-left: 10px;
    padding-top: 10px;

}

.logo_header {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: left;
    width: fit-content;
}

.logo_style {
    color: var(--branco);
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 54px;
}

.header_nav  {
    display: flex;
    justify-content: center;
    align-items: center;

}

header nav ul {
    display: flex;
    gap: 50px;
    list-style: none;
}

.ancoras_padrao {
    color: var(--branco);
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 20px;
}

.buscar {
    display: flex;
    align-items: center;
    justify-content: right;
    height: 100%;
}

.divisor {
    border: none;
    width: 100%;
    height: 3px;
    background-color: var(--branco);
    margin-top: 10px;
}





/* Fim do CSS do Header */
/* */
/* Inicio do CSS do Rodapé */

.rodape {
    display: grid;
    align-items: center;
    background-color: var(--verde_pantano);
    grid-template-columns: 1fr 1fr 1fr;

    width: 100%;
    height: 175px;
}

.logo_rodape {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rodape div {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 65%;
    border-left: solid 2px white;
}

.rodape ul {
    list-style: none;
}

.contatos a {
    color: white;

    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 20px;
}

.rodape div a {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.rodape img {
    margin-right: 10px;
}

/* Fim do CSS do rodapé*/

/* Inicio do CSS do cta*/

.imagem-fundo {
    height: 532px;
    background-image: url(../../imagens/inovacoes_no_agro/header.png);
    background-size: cover;
}

.cta {
    background: url(./Imgs_home/background.png);
    background-size: cover;
    height: 1026px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    margin-top: 20px;
    margin-bottom: 20px;
}

.cta h1 {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 96px;
    text-transform: uppercase;
    color: var(--branco);

}

.cta h2 {
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 36px;
    color: var(--branco);
}

#descobrir {
    background-color: var(--verde_claro);
    border-radius: 25px;
    width: 200px;
    height: 50px;

    font-family: 'Raleway';
    font-weight: 600;
    font-size: 27px;
    color: var(--branco);
}

.seta-baixo {
    background: transparent;
}

/* Fim do CSS do cta*/

/* Inicio do CSS dos destaques*/

.destaques {
    background-color: var(--verde_pantano);
    padding-bottom: 50px;
}

.destaques h2 {
    padding: 50px;
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 80px;
    color: var(--branco);
    text-align: center;
}

.destaques div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
}

.card {
    position: relative;
    display: flex;
    align-items: end;
}

.card p {
    position: absolute;
    padding-bottom: 20px;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 36px;
    color: var(--branco);
    text-align: center;
}

/* Fim do CSS dos destaques*/

h1 {
    text-align: center;
    font-weight: 800;
    font-size: 5vh; 
}

.p1, .p2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    margin: 20px 0;
}

.p1 p, .p2 p {
    text-align: center;
    margin: 0;
}

.p1 p {
    width: 888px;
    height: 175px;
}

.p2 p {
    width: 557px;
    height: 495px;
}

.imagem1, .imagem2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.imagem1 img, .imagem2 img {
    max-width: 100%;
    height: auto;
}

/* Fim do CSS dos destaques*/


.container {
    max-width: 888px; 
    margin: 0 auto;
    padding: 20px;
  }
  
  .texto-principal {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    margin-bottom: 20px;
    width: 100%; 
    text-align: justify;
  }
  
  .imagem1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .imagem1 img {
    width: 100%; 
    max-width: 888px; 
    height: auto;
  }
  
  .texto-e-imagem2 {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    width: 100%; 
  }
  
  .imagem2 {
    width: 316px; 
    height: 436px; 
  }
  
  .imagem2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .texto-secundario {
    flex: 1;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    margin: 0;
    width: 100%; 
    max-width: 888px;
    text-align: justify;
  }
  
  h1, h2 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
  }


  .setad{ 
    right: 0;
    position: fixed;
    margin-right: 10px;
    bottom: 180px;
}
.setae{ 
    position: fixed;
    left: 0; 
    position: fixed;
    margin-left: 10px;
    bottom: 180px;
    
}


.buscar {
    position: relative;
    width: 100%;
    max-width: 500px;
}


.buscar img {
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: relative;
    transition: transform 0.3s ease;
    z-index: 2; 
    margin-left: 10px; 
}


.search-box {
    display: none;
    position: relative;
    background-color: var(--branco);
    border: none; 
    border-radius: 25px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
}


.buscar.lupa-ativa img {
    transform: translateX(-20px); 
}

.buscar.lupa-ativa .search-box {
    display: block;
    margin-left: 10px; 
}

#searchInput {
    width: 100%;
    padding: 10px;
    padding-left: 50px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    outline: none;
    
    -webkit-appearance: none; 
    -moz-appearance: none;    
    appearance: none;
}

#suggestions {
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 25px;
    border-top: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: calc(100% + 5px); 
    left: 0;
    width: 100%; 
    z-index: 1;
    background-color: var(--branco); 
    overflow-y: auto; 
    max-height: 250px; 
    overflow: hidden;
    box-sizing: border-box;
}


#suggestions li {
    padding: 10px;
    cursor: pointer;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}

#suggestions li:hover {
    background-color: var(--verde_claro);
    color: var(--branco);
}


#searchInput {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    outline: none;
}